body{
    margin: 0;
    padding: 0;
    background-color:#7743DB;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
}
ul{
    display: flex;
}
li{
    margin-right:30px;
    margin-top: 70px;
    list-style: none;
}
li a{
    text-decoration:none;
}
.opening{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.opening .title{
    margin-left: 10px;
    margin-top: 300px;
}
.goals h1{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}