body{
    margin: 0;
    padding: 0;
    background-color:#7743DB;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
}
ul{
    display: flex;
}
li{
    margin-right:30px;
    margin-top: 70px;
    list-style: none;
}
li a{
    text-decoration:none;
}
